

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Arial, sans-serif;
    background-color: Linen;
}



.wrapper {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    gap: 15px;
    padding: 15px;
    min-height: 100vh;
}



.header {
    grid-area: header;
    background-color: RosyBrown;
    color: white;
    padding: 30px;
}


.nav {
    grid-area: nav;
    background-color: PeachPuff;
    padding: 20px;
}


.nav a {
    display: block;
    color: SaddleBrown;
    text-decoration: none;
    margin-bottom: 15px;
}


.main {
    grid-area: main;
    min-height: 60vh;
}

.card-container {
    display: grid;
    gap: 15px;
}


.card {
    background-color: Seashell;
    padding: 25px;
    border-radius: 10px;
}

.footer {
    grid-area: footer;
    background-color: MistyRose;
    color: SaddleBrown;
    padding: 20px;
    text-align: center;
}


@media (min-width: 768px) {

    .wrapper {
        grid-template-areas:
            "header header"
            "nav main"
            "footer footer";

        grid-template-columns: 220px 1fr;
    }


    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }


    .card1 {
        grid-column: 1 / -1;
    }
}